
.main{
	display: flex;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1110;
}

.intro, .about-wrapper{
	width: 50%;
	height: 100%;
}

.about-box{
	width: 100%;
	height: 100%;
	background-image: url(../../Resources/images/architectural-design.jpg);
}

.wellcome-box{
	background-color: white;
	text-align: center;
}

.inform-box{
	width: 100%;
	height: 100%;
	background-image: url(../../Resources/images/street_city.jpg);
}

.wellcome-wrapper:hover{
	color: white;
	background-color: black;
}