
.main{
	display: flex;
	width: 100%;
	overflow: hidden;
}

.about-box{
	width: 100%;
	cursor: pointer;
	height: 100%;
	background-image: url(../../Resources/images/architectural-design.jpg);
}

.about-box:hover{
	opacity: 0.8;
}

.wellcome-box{
	width: 100%;
	height: 50%;
	background-color: white;
	text-align: center;
}

.inform-box{
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url(../../Resources/images/street_city.jpg);
}

.inform-box:hover{
	opacity: 0.8;
}

.tsn{
	border: 1px solid black;
	padding: 15px 41px;
	color: black;
	text-decoration: none;
}

.tsn h1 {
	position: relative;
	z-index: 1;
	transition: all 300ms ease-in;
}
.tsn:hover h1 {
	opacity: 0;
	visibility: hidden;
  }

.btn:after {
	content: 'Wellcome Guys';
	position: absolute;
	z-index: 5;
	background-color: black;
	padding: 15px 12px;
	top: -15px;
	left: 1px;
	width: 0%;
	visibility: hidden;
	opacity: 0;
	color: white;
	transition: all 300ms ease-out;
  }

.btn:hover:after {
	visibility: visible;
	opacity: 1;
	width: 81%;
}