.main{
	width: 100%;
	overflow: hidden;
	display: flex;
	position: absolute;
	z-index: 5;
}

.wellcome-box{
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}

/* test */
.connections{
	width: 50%;
	height: 100%;
}