body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  width: 100%;
  height: 100vh;
  position: relative;
}

.header_logo{
  color: white;
  font-size: 28px;
}



.icon_arrow{
  position: absolute;
  bottom: 6px;
}
.arrow_link{
  position: absolute;
  bottom: 6px;
  left: 100px;
  margin: 0 auto;
}

.test{
  width: 60px;
  height: 60px;
  background-color: red;
  position: absolute;
  z-index: 99;
}